body {
	text-align: center;
	background-color: navy;
	font-family: serif;
	color: white;
}
table {
	margin-left: 10%;	
}
td {
	border: 2px solid white;
	font-size: 20px;
	padding: 5px;
	margin: 0;
	width: 500px;
}
#question {
	border: 2px solid white;
	margin-bottom: 20px;
}